.container-actividades-dia {
    width: 100%;
    height: 100%;
    padding-top: 2.25rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow : auto;

}

.header-actividades {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1.25rem;
}

.add-actividad {
    font-size: 2.75rem;
    color: white;
    cursor: pointer;
}

.container-actividades-dia::-webkit-scrollbar {
    width: 12px;
  }

.sombra-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
}

